@media screen and (min-width: 380px)  {
  .container__menu__title > h1{
    font-size: 35px;
  }
}
@media screen and (min-width: 576px){
  .container__menu__title > h1{
    font-size: 100px;
  }
}
@media screen and (min-width: 992px){
  .container__menu__title > h1{
    font-size: 135px;
  }
}
