@media screen and (min-width: 380px)  {
  .container__small-card{
    width: 150px;
  }
}
@media screen and (min-width: 576px){
  .container__small-card{
    width: 300px;
  }
}
@media screen and (min-width: 992px){
  .container__small-card{
    width: 600px;
  }
}
